html {
    font-family: 'Roboto', sans-serif;
    color: #666666;
    background-color: rgba(42, 42, 42, 1.0);
}

.info-block {
    color: white;
    background-color: #b3c2db;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 12px;
    box-shadow: 10px 10px;
}

.info-block:hover {
    background-color: #8f9fba;
}

.graphs {
    display: inline;
}

.binary {
    display: inline;
    float: right;
}

.false {
    text-align: center;
    border-color: rgba(214, 17, 40, 0.8);
    border-style: solid;
    border-width: 2px;
    width: 50px;
    height: 50px;
    background-color: rgba(232, 42, 32, 0.6);
    border-radius: 50px;
}

.true {
    text-align: center;
    border-color: rgba(3, 150, 20, 0.8);
    border-style: solid;
    border-width: 2px;
    width: 50px;
    height: 50px;
    background-color: rgba(27, 196, 47, 0.6);
    border-radius: 50px;
}

.floats {
    margin: 10px;
    display: inline;
    float: right;
}

.float-wrapper {
    margin: 8px;
    display: inline;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}
